*{
    margin: 0;
    padding: 0;
    border: none;
}
nav{
    background: rgb(0, 128, 107);
}
.menu{
    padding: 1em;
    text-align: center;
}
.buscar{
    color: aliceblue;
    margin-bottom: 1em;
}
.formu{
    display: inline-block;
    font-size: 30px;
    width: 30%;

}
header{
    background-image: url(../img/HD-wallpaper-palm-trees-on-beach-at-sunset-sea-beaches-nature-palm-trees-sunsets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0em;
    padding-top: 15em;
}
main{
    margin-left: 17%;
    margin-right: 15%;
}
article{
    display: inline-block;
    border: 1px solid rgb(80, 76, 76);
    padding: 4em;
    width: 20%;
    margin: 3px;
}
.titu{
    text-align: center;
    font-size: 2.7em;
    font-family: Arial, Helvetica, sans-serif;
}
.letra{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.ubicacion, .tienda, .avion{
    text-align: center;
    color:  rgb(0, 128, 107) ;
    font-size: 2em;
}

.lugares{
    text-align: center;
    padding-top: 2em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.lugar{
    color:  rgb(0, 128, 107);
}
.turismo{
    display: inline-flex;
    width: 70%;
    margin-right: 50%;
    margin-right: 25%;
}
.imagen{
    font-size: 1%; 
    width: 5%;

}
.padre{
    width: 30%;
    
    
}
footer{
    background:  rgb(0, 128, 107);
}
.seguir, .letra2, .iconos{
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
.seguir{
    font-size: 3em;
}
.iconos{
    display: inline-flex;
    margin-left: 30%;
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
}
.icono{
    margin: 50px;
}
.letra3{
    display: inline-block;
    text-align: center;
}
