

body{
    font-family: 'Allerta', sans-serif;
    margin: 0;
}
table{
    width: 100%;
}
th{
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left;
}
td{
    padding: 20px;
}
table, td, th{
    border: 1px solid #273b47;
    border-collapse: collapse ;
}
.fondo{
    background-image: url(../img/background.png);
    color: white;
}
input, textarea{
    outline: 0;
}
input:focus, textarea:focus{
    background:lightgray;
}
.contenedor{
    width: 800px;
    margin: auto;
}
button, .boton{
    border-radius: 12px;
    background: #fd324e;
    color: white;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(to left, #fe344e, #ff7250);
}


.titulo{
    font-size: 70px;
    margin-bottom: 0;
    
}
.titulo span{
    text-decoration: underline;
}
.titlea{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    
}
.guitarras h2{
    font-size: 35px;
    
}
.titleb{
    font-size: 50px;
    margin-bottom: 20px;
}
.portada{
    
    padding: 20px;
    background-size: cover;
    height: 500px;
    
}
.portada button{
    margin-bottom: 70px;
}
.guitarras{
    color: #1F313C; 
    margin-bottom: 60px;
}
.menu{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.menu li{
    display: inline-block;
    margin-left: 30px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu li:before{
    content: "⊙";
    font-size: 15px;
    line-height: 20px;
    color: white ;
}

.logotipo{
    display: inline-block;
    margin-left: 0;
}


.guitarra{
    
    border: 1px solid #1F313C;
    padding: 10px;
    margin: 10px 10px 40px 10px;
    border-radius: 8px;
}
.guitarra ol{
    padding: 0;
}
.guitarra.b{
    height: 190px;
}
.rigth{
    float: right;
    position: relative;
    top: -127px;
}
.left{
    float: left;
    position: relative;
    
}
.contenedor-guitarra-b{
    margin-left: 370px;
    position: relative;
    bottom: 90px;
}
.contenedor-guitarra-a{
    padding-left:20px ;
}
.header{
    position: relative;
}
.footer{
    background: #273b47;
}
.contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
.contacto img{
    display: block;
}
.contacto strong{
    display: block;
}
.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}
.footer .contenedor_f{
    display: flex;
    justify-content: space-between;  
}
footer{
    display: flex;
    padding: 50px 10px;
    
}
.contenedor_f{
    width: 800px;
    margin: auto;
}
.formulario{
    display: flex;
    width: 400px;
    color: white;
    
}

.col1, .col2{
    display: flex;
    flex-direction: column;
}
.col1{
    margin-right: 15px;
}
.col2{
    align-items: flex-start; 
}
.col2 .boton{
    margin-top: 15px;
}
.intereses label{
    font-size: 12px;
}
.formulario label, .sexo, .intereses{
    margin-bottom: 10px;
}

.sexo{
    margin-top: 10px;
}
.tabla{
    margin: 50px 0 ;
}



